* html header {
        position:absolute;
        top: expression(eval(document.documentElement.scrollTop));
}

body {
	width: 1349px;
	margin:0;
	padding-top:125px;
}

body a {
	color:#0099CC;
}

header {
	position: fixed;
	top:0;
	width:100%;
}

header h1 {
	margin:0 80px;
	padding:10px;
}

header a {
	float:right;
}
header p {
	padding-left: 100px;
}

header , .main-content h2 ,  footer {
	color:#FFF;
	background-color:#333333;
}

menu ul{ 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

menu li{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
	float: left;
}

menu li a{
	display: block; 
	border-left: 8px solid #C97556;
	background-color: #474655;
	padding: 3px 10px;
	text-decoration: none;
	color: #E1E2CF;
	width: 100px; 
	margin: 1px 0px;
	text-align: left;
	font-size: 14px;
}

menu li a:hover{
	border-left: 8px solid #990033;
	background-color: #474655;
}

main img {
	float:left;
	padding-left:80px;
	padding-bottom: 60px;
}

.main-content {
	margin-left: 300px;
	margin-right: 100px;
}

.main-content p {
	padding-bottom:20px;
	padding-left: 20px;
}

.main-content li {
	border-bottom:solid #000 1px;
}

footer {
	position: fixed;
	bottom:0;
	width:100%;
	border-top:solid #000 1px;
}

.copyright{
	padding:10px 0;
}

.copyright p {
	margin:0 20px;
	text-align:center;
}

table {
	margin-bottom:80px;
}
